# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Coverage
coverage.*
*.coverprofile
profile.cov

# Build artifacts
binaries/
obfuscated/
cmd/api/binaries/
cmd/api/obfuscated/

# Certificates and keys
*.pem
*.key

# Go workspace
go.work
go.work.sum

# Environment variables
.env

# Editor / IDE
.vscode/
# .idea/
# macOS
.DS_Store